.ipynb_checkpoints
02-Choropleth Maps Exercise.ipynb
Choropleth_Excercise.ipynb
Covid19_Global.ipynb
Training.ipynb
2012_Election_Data
2014_World_GDP
2014_World_Power_Consumption
test_learning
.gitignore
kaggleBulldozers